# .gitignore
#
# Chris Ahlstrom
# 2026-02-24 to 2026-02-24
#
# Ignore build products and subproject files, but do not ignore the wrap files.

build/
.cache
core
tags
TAGS
*.t
*.tmp
tmp/
/subprojects/*
!/subprojects/*.wrap

# vim: sw=4 ts=4 wm=4 et ft=gitignore
